.container
  %h2 All Boards

  .board
    .board_title
      Backets
      .board_detailActions
        = image_tag "combined-shape.png"
    .board_text 
      text test test test
    = image_tag "default-avatar.png", class: 'board_avatar'
  
  .board
    .board_title
      Backets
      .board_detailActions
        = image_tag "combined-shape.png"
    .board_text 
      text test test test
    = image_tag "default-avatar.png", class: 'board_avatar'

  .board_add
    + Add new Borad

